extends ./layout/index

block contenido
 
  h1(class='mt-5 text-center') #{pagina}
  main.container.mt-5
    .row.proximos-viajes
      each viaje in viajes
        .col-md-6.col-lg-4.mb-4
          .card
            //- Imagen del destino
            img.card-img-top(src=`/img/destinos_${viaje.imagen}.jpg` alt=viaje.titulo)
            

            .card-body
              //- Título del viaje
              h2= viaje.titulo

              //- Icono SVG
              p.d-flex.align-items-center
                svg(xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='#007aff' stroke-width='1' stroke-linecap='round' stroke-linejoin='round')
                  path(d='M4 5m0 2a2 2 0 0 1 2 -2h12a2 2 0 0 1 2 2v12a2 2 0 0 1 -2 2h-12a2 2 0 0 1 -2 -2z')
                  path(d='M16 3l0 4')
                  path(d='M8 3l0 4')
                  path(d='M4 11l16 0')
                  path(d='M8 15h2v2h-2z')

                    span.ms-2 #{viaje.fecha_ida} / #{viaje.fecha_vuelta}
                

              p.d-flex.align-items-center
                svg(xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='#007aff' stroke-width='1' stroke-linecap='round' stroke-linejoin='round')
                  path(d='M15 11.085h5a2 2 0 1 1 0 4h-15l-3 -6h3l2 2h3l-2 -7h3l4 7z')
                  path(d='M3 21h18')
                  span.ms-2 #{viaje.disponibles} Viajes Disponibles


              p= viaje.descripcion

                a(href=`viajes/${viaje.slug}`, class='btn btn-success btn-block') Mas informacion
